
<div class="col-6 footer-left" >
    <button onclick="scrollToTop()" id="scrollToTopBtn" class="scroll-to-top-btn btn btn-primary" title="Go to top">Back up</button>
    <p>This simulator is based upon the work by Mathias Müller/TenMinutePhysics, which you can look up <a href="https://matthias-research.github.io/pages/tenMinutePhysics/index.html" target="_blank">here!</a>

    </p>
</div>

<div class="col-6 footer-right">
    <span><a href="impressum.html">Impressum</a></span>
    <span><a href="about.html"></a><img src="/images/svg/question-circle.svg" alt="?"> About </span>
    <span><a href="https://github.com/StOe11169/Info1_Website"><img src="/images/svg/github.svg" alt="GitHub"> GitHub</a> </span>
</div>



